@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap'); 

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 0 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Navigation */
.navigation{
    margin: 2rem 0;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.navigation-list-item{
    text-decoration: none;
    font-weight: 600;
}


.navigation-list-item a{
    color: #183153;
}

.navigation-list-item a:hover{
    color: #2659a1;
}

/* account */
.account{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem;
    max-width: 600px;
    width: 100%
}

.account-balance{
    text-align: end;
}

.account-balance-money{
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 0;
}

.account-balance-legend{
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}