@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap'); 

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 0 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Navigation */
.navigation{
    margin: 2rem 0;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.navigation-list-item{
    text-decoration: none;
    font-weight: 600;
}


.navigation-list-item a{
    color: #183153;
}

.navigation-list-item a:hover{
    color: #2659a1;
}

/* account */
.account{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1rem;
    max-width: 600px;
    width: 100%
}

.account-balance{
    text-align: end;
}

.account-balance-money{
    font-weight: 600;
    font-size: 18px;
    padding: 0.5rem 0;
}

.account-balance-legend{
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

/* TRANSACTIONS */
.transactions{
    background-color: #183153;
    width: 100vw;
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem 0;
    z-index: 0;
}

.transactions-title{
    color: white; 
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.transaction{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: 2rem;
}

.transaction_date{
    color: white;
    text-align: left;
    width: 100%;
    font-weight: 600;
}

.transactions_table{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 500px;
    min-height: 90px;
    border-bottom: 1px solid #b7a7a7;
}

.transactions_table-icon{
    flex: 1;
    display: flex;
    justify-content: center;
}

.transactions_table-info{
    flex: 3;
}

.transactions_table-info-reason{
    padding-bottom: 0.8rem;
    font-weight: 600;
}

.transactions_table-amount{
    flex: 1;
    font-weight: 600;
}

.transactions_table-icon i{
    position: relative;
}

.i::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #307214;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.e::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.e{
    color: #183153;   
}

/* INGRESOS */
form{
    width: 100%;
}

.field{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 300px;
    margin: 0.5rem 0;
}

.btn-primary{
    border: none;
    padding: 0.8rem;
    color: white;
    background-color: #183153;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #2659a1;
}
